.rdd-owner-avatar-img {
    border: 3px solid #35baf6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.rdd-owner-editform-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.rdd-owner-title-label-top {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #404040;
    text-align: center;
    padding-top: 17px;
}

.rdd-owner-title-label-bottom {
    font-size: 16px;
    line-height: 30px;
    color: #404040;
    text-align: center;
    padding-top: 3px;
}

.rdd-owner-title-label-bottom-more {
    font-size: 12px;
    line-height: 30px;
    color: #404040;
    text-align: center;
    padding-top: 12px;
}

.rdd-owner-title-line {
    background: #35baf6;
}

.rdd-owner-list-actionicon {
    margin: 5px;
}

.rdd-owner-list-actioncolumn {
    vertical-align: center;
}