.rdd-main-title-text {
    padding-top: 5px;
    font-size: 40pt;
    font-weight: 600;
    font-family: monospace;
}

.rdd-main-title-text-slogan {

    font-size: 14pt;
    font-weight: 400;
    font-family: monospace;
}

.rdd-main-title-panel {
    background-image: url(images/titlebg1.jpg);
    background-size: cover;
}

.rdd-mainlist-column-contacts {
    vertical-align: middle;
}

.rdd-offerdetails-field {
    padding: 3px;
}

.rdd-main-offerdetails-images-view .thumb {
    background: #dddddd;
    height: 70px;
    width: 90px;
    position: absolute;
}

.rdd-main-offerdetails-images-view .thumb img {
    max-height: 60px;
    max-width: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.rdd-main-offerdetails-images-view .thumb-wrap {
    height: 70px;
    width: 90px;
    float: left;
    margin: 4px;
    padding: 5px;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
    position: relative;
    overflow: hidden;
}