.rdd-main-userbar {
    background: transparent;
}

.rdd-main-userbar-label {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: right;
    padding-top: 3px;
}

.rdd-main-userbar-label a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: right;
    padding-top: 3px;
}

.rdd-main-userbar-img {
    border: 3px solid #35baf6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 5px;
    margin-right: 20px;
}