.rdd-main-title-text {
	padding-top: 50px;
	font-size: 40pt;
    font-weight: 600;
    font-family: monospace;
}

.rdd-main-title-panel {
	background: transparent;
	background-image: url(images/titlebg.jpg);
	background-size: cover;
}