.rdd-main-title-text {
	padding-top: 50px;
	font-size: 40pt;
    font-weight: 600;
    font-family: monospace;
}

.rdd-main-title-panel {
	background-image: url(images/titlebg1.jpg);
	background-size: cover;
}

.rdd-mainlist-column-contacts {
	vertical-align: middle;
}